@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}
@font-face{
    font-family: Candara;
    src: url(../fonts/Candara.ttf);
}
/* ====COLOR==== 

RGB(202, 187, 167)
RGB(236, 231, 231)
RGB(7, 30, 8)

*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Comfortaa;
}

body{
    background-color: RGB(202, 187, 167);
}

/* =====NAV BAR===== */

.navbar{
    position: absolute;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    color: rgb(202, 187, 167);
    font-weight: 900;
    font-size: 18px;
}

.navbar .logo{
    height: 120px;
}

.navbar .nav-link ul{
    display: flex;  /* Alignement l'un à la suite de l'autre des élément qui se trouve dans ul*/
}

.navbar .nav-link ul li{
    margin: 0 25px;
}

.navbar .nav-link ul li.active a{
    color: rgb(5, 56, 5);
}

.navbar .menu-btn{
    display: none;
    position: absolute;
    top: 45px;
    right: 30px;
    height: 30px;
}

.menu-btn{
    cursor: pointer;
}

.nav-link li{
    padding: 10px;
    border-radius: 5px;
}

#btn-reservation{
    background-color: rgb(5, 56, 5);
}

.nav-link li:hover{
    background-color: rgba(7, 30, 8,0.3);
}

@media screen and (max-width: 1000px) {
    .logo{
        padding: 15px;
    }

    .navbar{
        padding: 0;
    }
    .navbar .menu-btn{
        display: block;
    }

    .nav-link{
        top: 0;
        left: 0;
        bottom: 10px;
        position: absolute;
        background-color: rgba(85, 85, 85, 0.395);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -110%;
    }

    .logo.mobile-menu{
        display: none;
    }

    .nav-link.mobile-menu{
        margin-left: 0;
    }

    .nav-link ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-link ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
}

/* =====HEADER===== */

header{
    height: 500px;
    background-image: url(../images/banner-header-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header div{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

header div h1{
    text-align: center;
    font-weight: 900;
    font-size: 3.5em;
    color: black;
}

.elfsight-app-12a9129b-c7cd-4726-93bc-92e1836df9b1{
    top: 40px;
    margin: 0 20px;
}

/* =======FOOTER======= */
footer{
    padding: 20px;
    display: flex;
    background-color: #bcae9b;
}

footer .big-block{
    max-width: 1100px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-block{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.footer-media .social-media{
    width: 35%;
    display: inline-flex;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 25px;
}

.footer-block p{
    padding-bottom: 10px;
}

footer a{
    color: black;
}

footer img{
    height: 27px;
}

/* ===================BTN SCROOL TOP=================== */

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

#scroll_to_top img {
    width: 30px;  
}